@font-face {
    font-family: 'neuzeit_grotesk';
    src: url('urw_-_neuzeitgro-bol-webfont.woff2') format('woff2'),
         url('urw_-_neuzeitgro-bol-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit_grotesk';
    src: url('urw_-_neuzeitgro-lig-webfont.woff2') format('woff2'),
         url('urw_-_neuzeitgro-lig-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit_grotesk';
    src: url('urw_-_neuzeitgro-reg-webfont.woff2') format('woff2'),
         url('urw_-_neuzeitgro-reg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
