@import "colors";

.home-page {

  .hero-section {
    height:auto;
  }

  .home-hero-slide {
    width:100%;
    height:100%;

    .content {
      height:100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-top:75px;
      padding-bottom:50px;
    }

    .button {
      margin-top:30px;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
      height: inherit !important;
  }

  .slick-dots {
    position: absolute;
    left:0;
    bottom:0px;
    width:100%;
    text-align: center;
    margin-bottom:10px;

    li {
      display: inline-block;
      border-radius: 50%;
      border:1px solid white;
      background: none;
      width:16px;
      height:16px;
      margin:0px 16px;
      cursor:pointer;

      button {
        display: none;
      }
    }

    .slick-active {
      background:white;
    }
  }

  .subhead-section {

    .content {
      padding-top:80px;
    }
  }

  .explore-section {

    .words-half {
      position: relative;
      padding-top:25px;
      padding-bottom:160px;

      h2 {
        margin-bottom:30px;
      }

      p {
        width:100%;
      }

      .button {
        display: inline-block;
        margin-top:45px;
      }

    }

    hr {
      margin-bottom: 35px;
      width:80%;
    }

    .image-half {
      position: relative;

      img {
        position: absolute;
        left: 50px;
        top: 0;
        max-width: 200%;
      }
    }

    .water-mark {
      position:absolute;
      bottom:-60px;
      left:-75px;
    }
  }

  .home-video-section {
    position: relative;
    max-height: 500px;
    overflow: hidden;

      .iframe-wrapper {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
    }
  }

  .insta-section {

    .content {
      max-width:100%;
      padding:0;
    }

    h2 {
      margin-top:45px;
      margin-bottom:20px;
      text-align: center;
    }

    h3 {
      text-align: center;
      margin-bottom:30px;

      a {
        color:$blue;
      }
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

  .home-page {

    .home-video-section {
      height:400px;
    }
  }
}

// 767px And Below
@media screen and (max-width: 767px){

  .home-page {

    .home-hero-slide {

      .content {
        padding-left:35px;
        padding-right:35px;
        height:100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top:60px;
        padding-bottom:70px;
      }
    }

    .subhead-section {

      .content {
        padding-top:60px;
        padding-bottom:10px;
      }
    }

    .explore-section {

      .image-half {
        margin-top:30px;

        img {
          position: relative;
          left: 0px;
          max-width: 100%;
        }
      }

      .words-half {
        padding-bottom: 20px;
      }

      .water-mark {
        position:absolute;
        bottom:auto;
        top:200px;
        left:-75px;
      }
    }

    .home-video-section {
      height:208px;
    }
  }
}
