@import "colors";

.press-page {

  .news-section {

    .content {
      border-bottom:2px solid $offWhite;
    }
  }
}

.news-section {

  h2 {
    text-align: center;
    margin-bottom:20px;
  }

  .news-block {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .single-news {
    padding-right:30px;
    margin:50px 0px;
  }

  .pub-image {
    width:100%;
    height:auto;
    margin-bottom:24px;

    img {

    }
  }

  hr {
    width:75px;
  }

  p {
    margin:24px 0;
  }

  .single-news-button {
    display: inline-block;
    background: white;
    border-color:$brown;
    color:$brown;

    &:hover {
      background:$brown;
      color:white;
    }
  }

  .see-all-link {
    position: relative;
    margin:20px auto 0 auto;
    cursor:pointer;

    &:after {
      content:"";
      position: relative;
      left:10px;
      top:-3px;
      display: inline-block;
      border-right:2px solid $brown;
      border-bottom:2px solid $brown;
      transform:rotate(45deg);
      transition:all 0.3s;
      width:10px;
      height:10px;
    }
  }


  .newsOpen {

    &:after {
      top:0;
      border-right:0px solid $brown;
      border-bottom:0px solid $brown;
      border-left:2px solid $brown;
      border-top:2px solid $brown;
    }
  }

  .more-news {
    opacity:0;
  }
}

.yogurt-award-section {
  background: $offWhite;
  margin-top:210px;

  .content {
    padding-top:65px;
    padding-bottom:65px;
  }

  h2 {
    padding-top:30px;
    border-top:2px solid $brown;
    margin-bottom:30px;
  }

  .left-half {

    img {
      position: absolute;
      left:0;
      bottom: 30px;
    }
  }

  .right-half {

  }
}

.cant-find-section {

  .content {
    padding-top:80px;
    padding-bottom:100px;
  }

  h3 {
    line-height: 1.2;
  }

  a {
    font-weight: 800;
    color:$blue;
  }

  .thick-blue {
    font-weight: 800;
    color:$blue;
    margin-bottom: 30px;
  }

  .thick-brown {
    font-weight: 800;
    color:$brown;
  }

  .faq-watermark {
    position: absolute;
    bottom:-3px;
    right:-30px;
    height:90%;
    width:auto;
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

  .news-section {

    .single-news {
      padding-right:50px;
    }
  }

  .yogurt-award-section {
    margin-top:160px;
  }
}


// 767px And Below
@media screen and (max-width: 767px){

  .news-section {

    .single-news {
      padding-right:0px;
    }
  }

  .yogurt-award-section {
    margin-top:0px;

    .content {
      padding-top:45px;
      padding-bottom:45px;
    }

    h2 {
      padding-top:30px;
      border-top:2px solid $brown;
      margin-bottom:30px;
    }

    .left-half {

      img {
        position: relative;
        left:0;
        bottom:0px;
        margin-bottom:40px;
      }
    }

    .right-half {

    }
  }

  .press-page {

    .cant-find-section {

      .faq-watermark {
        position: absolute;
        bottom:-3px;
        right:0px;
        height:auto;
        width:100%;
      }
    }
  }
}
