@import "colors";

.recipes-page {

}

.recipes-section {

  h2 {
    text-align: center;
  }
}

.recent-recipes-section {
  background: $offWhite;

  .content {
    padding-bottom:60px;
  }
}

.single-recent-recipe {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  align-content: space-between;
  margin:0 2%;
  margin-top:24px;

  h3 {
    margin-top:20px;
    padding-top:12px;
    border-top:3px solid $brown;
  }

  &:nth-of-type(1) {
    margin-left:0%;
    margin-right:0%;
  }

  &:nth-last-of-type(1) {
    margin-right:0%;
    margin-left:0%;
  }

}

.single-recent-main-content {
  width:100%;
}

.recent-recipe-image {
  width:100%;
  height:300px;
}

.single-recent-callsfor {
  width:100%;
  margin-top:60px;
  font-size:18px;
}

.recent-callsfor-ingredient {
  border-top:1px solid $brown;
  width:100%;
  margin-top:10px;
  padding-top:10px;
}

.filter-button-container {
  width:100%;
}

.recipe-filter-title {
  display: inline-block;
  text-transform: uppercase;
  margin-right:55px;
  white-space: nowrap;
}

.no-recipe-results {
  display: none;
  width:100%;
  padding:40px 20px;
  border:1px solid $brown;
}

.recipe-filter-button {
  cursor: pointer;
  display: inline-block;
  margin-right:30px;
  transition:color 0.3s ease;

  &:hover {
    color:$blue;
  }
}

.active-recipe-filter {
  color:$blue;
  border-bottom:2px solid $blue;
}

.all-recipes-section {

  .content {
    padding-bottom: 90px;
  }

  input[type=text] {
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 12px 15px;
    margin: 5px 1px 3px 0px;
    border: 1px solid $brown;
    border-radius:15px;
    font-size:14px;
    line-height: 1;
    color:$brown;

    &:focus {
      border: 1px solid $blue;
    }
  }

  input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:$brown;
  }

  input[type=text]::-moz-placeholder { /* Firefox 19+ */
    color:$brown;
  }

  input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color:$brown;
  }

  input[type=text]:-moz-placeholder { /* Firefox 18- */
    color:$brown;
  }


}

.load-more-recipes-section {
  overflow: hidden;
  width:100%;
  text-align: center;
}

.load-more-recipes-link {
  position: relative;
  margin:50px auto 0 auto;
  cursor:pointer;

  &:after {
    content:"";
    position: relative;
    left:10px;
    top:-3px;
    display: inline-block;
    border-right:2px solid $brown;
    border-bottom:2px solid $brown;
    transform:rotate(45deg);
    transition:all 0.3s;
    width:10px;
    height:10px;
  }
}

.all-recipes-container, .isotope, .isotope-items-wrap {
  position: relative;
  width:100%;
  height:auto;

  .hidden {
    display: none;
  }
}

.single-all-recipe {
  position: relative;
  margin:0 1%;
  margin-top:20px;
  height:220px;

  a {

  }

  h4 {
    font-weight: 800;
    padding-top:10px;
    border-top:1px solid $brown;
  }

  // &:nth-child(1), &:nth-child(5n) {
  //   margin-left:0%;
  //   h4 {
  //     color:blue;
  //   }
  // }
  //
  // &:nth-child(4n) {
  //   margin-right:0%;
  //
  //   h4 {
  //     color:red;
  //   }
  // }
}

.single-all-main-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding:30px 20px;
  height:100%;
  width:100%;
  background-color:rgba(255, 255,255,0.8);
  transition:all 0.3s ease-in;
  opacity:0;

  &:hover {
    opacity:1;
  }
}

// 1024px And Below
@media screen and (max-width: 1024px){

}


// 767px And Below
@media screen and (max-width: 767px){

}
